* {
    box-sizing: border-box;
}

.imglo {
    float: right;
    width: auto;
    margin: 25px;
    padding: 25px;
    ;
    border-style: inset;
    border-color: rgba(86, 167, 233, 0.72);
    border-width: 5px;
}

.image2 {
    float: left;
    width: auto;
    margin: 25px;
    padding: 25px;
    border-style: inset;
    border-color: rgba(86, 167, 233, 0.72);
    border-width: 5px;
}

.aroundfig {

    margin: auto;
    padding-bottom: 30px;


}

.logo {
    position: absolute;
    top: 6em;
    right: 10%;
    z-index: 5;
    width: auto;
    max-width: 15vw;
    height: auto;
}