h3,
h2 {
    color: rgb(25, 66, 103);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    color: #023d61;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: large;
    font-weight: 300;
}

.darkblue {
    color: #023d61;

}

h4 {
    color: rgb(25, 66, 103);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 80%;
    margin: 0 auto;

}

header {
    background-color: #004581;
    font-style: italic;
    height: 150px
}

h1 {
    font-size: 4em;
    color: #e9f5ff ;
    padding: 40px 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}

body {
    margin: 0;
    background-color: #b6ddff;
}

nav {
    
    padding: 0px 30px;
    font-size: 115%;
}

/* .name makes a class  */

a:link {
    color: #e9f5ff ;
    ;
}


a:visited {
    color: #a251ed;
}


a:hover {
    color: #0f7aee;
}


a:active {
    color: #0000FF;
}



footer {
    text-align: center;
    background-color:#004581 ;
    padding: 2px 10px;
    
}



fieldset {
    align-self: center;
    padding: 20px;
    margin-bottom: 60px;

}

label {
    font-size: larger;


}

.contacth3 {
    border-left-style: outset;
    padding-left: 15px;
    font-size: larger;
    border-bottom-style: solid;
    background-color: #004581;
    color: #e9f5ff;
}
.cardimg {
    max-width: fit-content;
    float: left;
   
}
.cardimgright {
    max-width: fit-content;
    float: right;
    
}
.clearfloat {
    clear: both;
}
.allign {
    align-self: center;
}
