table {
    border-collapse: collapse;
    width: 100%;
   
    border-color: #1a80bf;
border-width: 9px 11px;
border-left-style: inset;
border-right-style: outset;
border-bottom-style: outset;
border-top-style: inset ;
 ;
}


table caption {
    font-weight: 800;
    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-family: unset;
}

tr {
    border-bottom: thin solid #1a80bf;
}

thead tr {
    background-color: rgb(8, 74, 112);
    color: rgb(149, 214, 228);
}

tbody tr:nth-child(even) {
    background-color: rgb(176, 234, 244);
}
